body {
    width: 100%;
    margin: auto;
    
}
/* header begin */
.top-bar{
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 10%;
    align-items: center;
}
/* inner header begin */
.top-bar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}
/* inner header ends */

/* top left icon begin */
a{
    text-decoration: none;
    color: white;
}
h2{
    color: white;
}
#title-1{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title-2{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 2%; 
}
.top-left-icon{
    display: flex;
    margin: 1% 2% 1% 7%;
    width: 50%;
}
/* top left icon ends */

/* top right icon begin */
.topbar-right-icon{
    display: flex;
    margin: 1% 0% 0 25%;
    width: 50%;
}
.btn {
    font-size: 27px;
    border: white solid 2px;
    color: white;
    margin-bottom: 3%;
    padding: 2% 2% ;
    border-radius: 10px;
}
.btn-2 {
    margin-left: 5%;
    padding: 0 6%;
    background-color:  #4C5FD5;
}
.btn-1 {
    background-color: #000000;
}
/* header end*/