/* main css begines */

/* main 1 begins  */
.main-1{
    width: 100%;
    height: 400px;
    margin: 0% auto;
    background-color: #dadbf1;
}
.main-1-inner {
    margin: auto;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.hero-title{
    font-size: 40px;
}

.search-bar {
    position: absolute;
    top: 270px;
    left: 290px;
}

.search-bar input {
    height: 55px;
    width: 750px;
}
/* main 1 ends */

/* main 2 begines */

