/* main css begines */

/* main 1 begins  */
.main-1{
    width: 100%;
    height: 400px;
    margin: 0% auto;
    background-color: #dadbf1;
}
.main-1-inner {
    margin: auto;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.hero-title{
    font-size: 40px;
}

.search-bar {
    position: absolute;
    top: 270px;
    left: 290px;
}

.search-bar input {
    height: 55px;
    width: 750px;
}
/* main 1 ends */

/* main 2 begines */

.main2-container{
    
    height: 600px;
    width: 90%;
    margin: auto;
}
.inner{
    
    height: 200px;
    width: 100%;
    margin: 15% auto;
    display: flex;
    justify-content: space-around;
    
}
.list-img{
    margin: 7% 7% 0 0;
}
img {
    height: 100px;

}
.list {
    display: flex;
    width: 50%;
    margin: 3% 3% 10% 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.list-text{
    font-size: 20px;
}
.hero-title{
    font-size: 30px;
    margin-left: 15%;
}

.list-text a{
    color: #4C5FD5;
}
/* main 2 ends */